.btn-addmore {
  display: inline-block;
  font-size: 12px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-addmore:hover {
  background-color: blue;
  color: #fff;
}

.btn-addmore i {
  margin-right: 5px;
}
.btn-successe {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.btn-successe:hover {
  background-color: blue;
  font-size: 16px;
  color: white;
}

/* .nav-item:first-of-type{
  padding-left: 20px;
} */

.nav-link:focus, .nav-link:hover {
  color: white;
  /* background: linear-gradient(
    to right,
    rgba(0, 101, 172, 0.8),
    rgba(0, 101, 172, 0.8)
  ); */
  background-color: #00477ad9;
  }

.border-start{
  padding-left: 10px;
}
  .plus-circle-link {
    font-size: 20px;
    color: white;
    background-color: green;
  }
  .plus-circle-link:hover {
    font-size: 22px;
    color: red;
  }
  .minus-circle-link {
    font-size: 20px;
    color: red;
  }
  .minus-circle-link:hover {
    font-size: 22px;
    color: black;
  }
.cart-icon-number {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
}
img{
    display: block;
    width: 100%;
  }
  iframe{
    width: 100%;
    display: block;
  }
  .dragdrop{
    display: block;
    margin-top: 10px;
    padding: 20px 15px;
    text-align:center;
    border: 1px solid #222;
  }
  .btncenter{
    display: block;
    width: 20%;
    margin: auto;
  }
  .btnright{
    display: block;
    width: 20%;
    margin: auto 0px auto auto;
  }
  .close {
float: right;
height:30px;
width:30px;
}
.close:hover {
color: #000;
text-decoration: none; 
}
.jadafahon
{
  width: 80%;
  display: block;
  margin: auto;
  height: 700px;
}
.modalhide{
  display: none;
}
.modalshow{
  display: block;
}
.infomodalwidth{
  width: 80% !important;
  display: block;
  margin: auto;
  padding: 10px 10px 40px;
}
.adjwi{
  width: 7% !important;
}
.topnav{
	margin-top: 0px !important;
}

.dropdown-meun {
position: relative;
}

.page-content
{
margin-top: 10px !important;	
}

.cart-icon-container {
  position: relative;
  display: inline-block;
  top: 10px;
  right: 20px;
}
.cart-icon-containerss {
  position: relative;
  display: inline-block;
  right: 15px;
}


.additional-menus-dots {
  color: white;
  padding-right: 10px;
}

.more-button-username-rolename-container {
  /* margin: 0px 15px 0px -3rem; */
  position: absolute;
}

.navbar-main-container {
  margin-left: 3.5rem;
  padding-right: 5px;
}

.username-role-name-container,
.username-container-col1 {
  padding: 0px;
}

.rolename-container {
  padding: 0px 0px 0px 0rem;
  white-space: nowrap;
}

#more-dropdown-button {
  padding-left: 25px;
  display: none;
}

.more-button {
  padding-right: 50px;
}

div.container {
  padding: 0px 10px 0px 10px;
}

.rolename-username-main-div,
.navbar-menus-main-div {
  padding: 0px 10px;
}

.navbar-main-div {
  padding: 0px 2px;
}

.rolename-container {
  white-space: nowrap;
  text-overflow: ellipsis;
}

nav.navbar.navbar-light.navbar-expand-lg:active {
  padding: 0px 10px;
}

.additional-menus-dots:hover, .additional-menus-dots:focus {

  color:#00c3ff;
}

.rolename-button{
  padding-right: 5px;
}

.row .rolename-username-main-div {
  position: static;
}

@media (min-width: 992px) {
  /* .more-button-username-rolename-container {
    margin: 0px 33px 0px -2px;
    position: relative;
  } */
  
  .rolename-username-main-div {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 991.99px) {
  .rolename-username-main-div {
    padding-top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  
  .more-button-username-rolename-container {
    margin: 0px 15px 0px -3rem;
    }

    .navbar-nav .dropdown-menu {
      position: absolute; 
    }
}
